:root{
    --background-color:#111;
    --background-color-lighter:#181818;
    --background-color-hover:rgba(0,77,64 ,.2);
    --background-hover:rgba(0,77,64 ,.8);
    --background-color-darker:#141414;
    --accent-color: rgba(0,137,123 ,1);
    --checked-bg-color:rgba(0,96,100 ,1);     
    --checked-font-color:white;
    --disabled-bg-color:#444;
    --disabled-font-color:#666;
    --row-font-size:12px;
    --row-font-color:#666;
    --font-size:12px;
    --space-font: 'Megrim', cursive;
    --font: 'Quicksand', sans-serif;
    --padding: 5px 5%;
    --margin: 5%;
    --shadow: 0 0 15px white;
    --text-shadow: 0 0 5px white;
    --button-color: white;
    --font-color:#aaa;
    --thin: 300;
    --bold: 700;
    --heading-color: white;
    --mobile-padding: 40px;
    --seat-color:#222;
    --border-radius: 2px;
    --actor-border:1px solid rgba(0,96,100 ,.8);
    --actor-bg: rgba(0,96,100 ,.1);
    --barcode: 'Libre Barcode 39 Extended Text', cursive;
    --small: 14px;
    --medium: 16px;
}

::-moz-selection ,
::selection { 
    color: white;
    background-color: var(--checked-bg-color);
}

*{
    margin:0;
    padding: 0;
    font-family: var(--font);
    outline: none;
    line-height: 1.2em;
    color: var(--font-color);
}

strong, b{
    font-weight: var(--thin);
}

body{
    font-size: var(--medium);
    font-weight: var(--thin);
    background-color: var(--background-color);
}
.movie__container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "poster header header"
                        "poster info info"
                        "poster form form";
}

.poster__container {
    min-width: 35vw;
    position: relative;
    grid-area: poster;
    z-index: 1;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(90deg, 
                      transparent 0%, 
                      transparent 55%, 
                      #111 100%),
                      url(../assets/poster.jpg);
    background-repeat: no-repeat;
}

.poster__heading{
    position: absolute;
    color: white;
    text-shadow: 0 0 15px white;
    font-family: var(--space-font);
    font-weight: 300;
    font-size: 50px;
    transform: translate(-50%);
    letter-spacing: 10px;
    left: 50%;
    animation: textShadow 4s alternate infinite;
    bottom: 5%;
}
@keyframes textShadow{
    0%{text-shadow: 0 0 20px cyan; }
    50%{text-shadow: 0 0 8px cyan; }
    100%{text-shadow: 0 0 12px white; }
}


.play{
    background-color: transparent;
    display: inline-block;
    width: 0;
    height: 0;
    border-left:15px solid white;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    transition: 1s;
}
.movie__play-button:hover{
    filter: drop-shadow(0 0 5px white);
}

.movie__play-button::-moz-focus-inner{
    border:0;
}

.movie__play-button:focus{
    filter: drop-shadow(0 0 5px white);
}

.movie__play-button:hover > .play,
.movie__play-button:focus > .play{
    filter:drop-shadow(0 0 10px red);
    outline: 0;
}

.movie__play-button {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    filter: drop-shadow(0 0 5px black);
    cursor: pointer;
    transition: .5s;
}

.movie__data {
    grid-area: info;
    padding: var(--padding);
    display: flex;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid var(--background-color);
    background-color: var(--background-color-darker);
    margin: 0 var(--margin);
    box-shadow: 0 5px 5px var(--background-color);
}

.info__heading {
    color: var(--heading-color);
    text-shadow: 0 0 1px var(--background-color);
    font-weight: var(--thin);
    text-transform: uppercase;
}

.actor{
    background-color: var(--actor-bg);
    border-radius: 15px;
    border: var(--actor-border);
    padding: 1px 10px;
    font-size: var(--small);
    display: inline-block;
    box-sizing: border-box;
    margin-top: 5px;
}

.info__description:not(:last-child) {
    margin-bottom: 15px;
}
.movie__booking {
    grid-area: form;
    align-self: flex-start;
    background-color: var(--background-color-darker);
    margin: 0 var(--margin);
}
.movie__heading {
    padding: 10px 5%;
    grid-area: header;
    margin: 0 var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    box-shadow: 0 5px 5px var(--background-color);
}
.movie__heading,
.legend{
    background-color: var(--background-color-lighter);
    text-transform: uppercase;
}

.movie__title {
    font-weight: var(--thin);
    letter-spacing: 20px;
    color: var(--heading-color);
}
.time__container{
    display: flex;
    align-items: center;
}
.time__container::before {
    content: '';
    display: inline-block;
    filter: drop-shadow(0 0 1px var(--background-color));
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../assets/clock.svg);
}
.booking__form {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-template-areas: "date time"
                        "cinema ticket";
}
.legend{
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

.date__legend{
    border-right: 1px solid var(--background-color);
}

.date__set,
.time__set{
    justify-content: space-around;
    overflow: hidden;
    border: none;
    display: flex;
    background-color: var(--background-color-darker);
}
.date__set {
    grid-area: date;
    position: relative;
}
.left__radio, 
.right__radio,
.left__radio_label, 
.right__radio_label{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.left__radio_label,
.left__radio{
    left: 0;
}
.right__radio_label,
.right__radio{
    right: 0;
}
.left__radio:checked ~ .left__radio_label,
.right__radio:checked ~ .right__radio_label{
    color: var(--checked-bg-color);
}

.left__radio:focus ~ .left__radio_label,
.right__radio:focus ~ .right__radio_label{
    box-shadow: inset 0 0 3px var(--checked-bg-color);
}

.left__radio_label, 
.right__radio_label{
    cursor: pointer;
    height: 100%;
    width: 40px;
    display: flex;
    font-weight: var(--bold);
    justify-content: center;
    align-items: center;
}
.left__radio_label,
.right__radio_label{
    box-shadow: inset 0 0 3px var(--background-color-darker);
    background-color: var(--background-color-lighter);
}
.time__set:focus-within > .time__legend,
.date__set:focus-within > .date__legend {
    color: var(--checked-bg-color);
    text-shadow: 0 0 5px var(--checked-bg-color);
}
.time__set:focus-within > .wrap__date,
.date__set:focus-within > .wrap{
   background-color: rgba(0,77,64 ,.1);
}

.wrap{
    display: grid;
    padding: 0 40px;
    margin-right: -200px;
    margin-left: -200px;
    box-sizing: border-box;
    width: calc(80px * 8);
    transition: .5s;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    justify-content: space-around;
}

.wrap__date{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
}

.date_label:{
    cursor: pointer;
}

.left__radio:checked ~.wrap{
    margin-left: 0px;
}
.right__radio:checked ~.wrap{
    margin-right: 0px;
}

.date__wrap,
.time__wrap {
    display: flex;
    padding: 5px 0;
    cursor: pointer;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    box-sizing: border-box;
    flex-direction: column;
    transition: .2s;
}

.date__wrap:hover,
.time__wrap:hover{
    background-color: var(--background-color-hover);
}
.date__wrap:focus,
.time__wrap:focus{
    border: 1px solid var(--checked-bg-color);
}

.month, 
.type,
.time,
.day  {
    font-size: .8em;
}
.time,
.day {    
    font-weight: var(--bold);
}
.time__set {
    grid-area: time;
}
.time__label {
}

.time__input:checked + .time__wrap,
.date__input:checked + .date__wrap{
    background-color: var(--checked-bg-color);
}

.hall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: cinema;
}

.seats_set {
    padding: 30px 30px 10px 30px;
    margin: 0 auto 0 auto;
    display: grid;
    box-sizing: border-box;
    width: 50%;
    justify-items:center;
    align-self: center;
    justify-content: center;
    grid-gap: .4em;
    counter-reset: row;
    grid-template-columns: repeat(12, auto);
    position: relative;
    border:none;
}
.seats_set::before{
    filter: drop-shadow(0 0 4px var(--accent-color));
    content: 'screen';
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
    border-color:transparent;
    border-top:1px solid var(--checked-bg-color);
    position: absolute;
    border-radius: 50% 50% 0 0;
    display: block;
    width: 95%;
    background-color: transparent;
    top:-10px;
}

.left__radio,
.right__radio,
.time__input,
.date__input,
.seat {
    -moz-appearance: none;    
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    height: 1px;
    width: 1px;
    position: absolute;
}
.seat__number{
    width: 100%;
    height: 100%;
    font-size: var(--font-size);
    transition: .5s;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--seat-color);
    color: #555;
}

.seat:checked + .seat__number {
    color:var(--checked-font-color);
    background-color: var(--checked-bg-color);
}

.seat__label::after{
    content: 'Seat ' attr(data-seat) ' 💺 , row 'attr(data-row)'';
    position: absolute;
    transition: .3s;
    visibility: hidden;
    border:2px solid var(--background-color-hover);
    box-sizing: border-box;
    font-size: .7em;
    border-radius: var(--border-radius);
    display: flex;
    opacity: 0;
    white-space: nowrap;
    background-color: var(--seat-color);
    padding: 2px 10px;
    transform: translate(40%);
    margin-bottom: 60px;
}
.seat__label:focus-within::after{
    visibility: visible;
    opacity: 1;
}
.seat:disabled + .seat__number {
    cursor: not-allowed;
    color:var(--disabled-font-color);;
    background-color: var(--disabled-bg-color);
}
.seat:focus + .seat__number {
    -webkit-box-shadow: 0 0 5px var(--checked-bg-color);
    -moz-box-shadow: 0 0 5px var(--checked-bg-color);
    box-shadow: 0 0 5px var(--checked-bg-color);
}

.seat__label{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-flex;
}

.r11, .r21, .r81{
    grid-column-start: 1;
}
.r13{
    grid-column-start: 5;
}
.r17{
    grid-column-start: 11;
}
.r31,.r41,.r51,.r61{
    grid-column-start: 2;
}
.r71{
    grid-column-start: 4;
}
.r35, .r45{
    grid-column-start: 8;
}
.first-seat::before{
    counter-increment: row;
    left: 10px;
}

.first-seat::before,
.last-seat::before{
    position: absolute;    
    content: counter(row);
    font-size: var(--row-font-size);
    color: var(--row-font-color);
}
.last-seat::before{
    right: 10px;
}

.hall__legend{
    grid-area: legend;
    display: flex;
    align-items: center;
    justify-self:center;
    font-size: .9em;
}
.hall__hint::before{
    content: '';
    width: 10px;
    margin: 0 10px; 
    height: 10px;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: inline-block;
}
.reserved.hall__hint::before{
    background-color: var(--disabled-bg-color);
}
.available.hall__hint::before{
    background-color: var(--seat-color);
}
.chosen.hall__hint::before{
    background-color: var(--checked-bg-color);
}

.booking__info{
    grid-area: ticket;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    margin: 40px;
    width: 250px;

    box-sizing: border-box;
    color: black;
}
.ticket{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-radius: 1px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: var(--margin);
}
.booking_info__heading{
    text-transform: uppercase;
    font-weight: var(--thin);
    font-size: 20px;
    color: black;letter-spacing: 5px;
    margin-bottom: 10px;
}
.barcode{
    font-family: var(--barcode);
    font-size: 40px;
    font-weight: 300;
    padding: 10px 0 0 0;
    border-top: 5px dotted var(--background-color-darker);
    color: black;
    position: relative;
    letter-spacing: 5px;
}
.barcode::before,
.barcode::after{
    content: '';
    height: 35px;
    width: 35px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border:none;
    top: 0;
    transform: translate(0,-50%);
    background-color: var(--background-color-darker);
}
.barcode::after{
    right: -40px;
}
.barcode::before{
    left: -40px;
}
.booking__button{
    width: 100%;
    background-color: var(--checked-bg-color);
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
}

.booking__button:hover{
    box-shadow: 0 0 5px var(--background-color);
}

.ticket__info{
    display: grid;
    align-content: space-between;
    grid-gap: 15px;
    padding-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.ticket__value,
.ticket__movie_heading{
    color:var(--checked-bg-color);
    font-weight: var(--bold);
    font-family: 'Arial';
    text-transform: uppercase;
}
.ticket__description,
.ticket__description > *{
    color: black;
    font-size: var(--small);
}

.ticket__movie_heading{
    margin-bottom: 20px;
    color: black;
}
@media (max-width: 768px){
    .wrap{
        width: 100vw;
        margin: 0 -250px;
    }
    .date__wrap,
    .time__wrap{
        min-width: 75px;
    } 
    .movie__container{
        grid-template-areas: "poster"
                             "header" 
                             "info" 
                             "form"; 
    }
    .poster__container{
        min-height: 60vh;
        background-image: linear-gradient(270deg, 
            rgba(0,0,0,.4) 0%, transparent 100%),
            linear-gradient(0deg, 
            rgba(17,17,17,.6) 0%, transparent 100%), 
            url(../assets/poster.jpg);
    }
    .booking__form{
        margin: 0;
        padding: 0;
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "date"
                             "time" 
                             "cinema"
                             "ticket"; 
    }
    .seats_set{
        margin: 40px 0 20px 0;
        padding: var(--mobile-padding) 0;

    }
    .time__set:focus-within > .wrap__date,
    .date__set:focus-within > .wrap{
       background-color: var(--background-color-darker);
    }
    .movie__booking{
        margin: 0;
    }
    .movie__heading{
        margin: 0;
        padding: 20px var(--mobile-padding);
    }
    .movie__data{
        margin: 0;
        padding: 30px var(--mobile-padding);
    }
    .seats_set {
        padding: 40px 20px 20px 20px;
        grid-gap: 8px;
    }
}

@media (min-width: 300px) and (max-width: 413px){
    .seat__label{
        width: 18px;
        height: 18px;
    }
    .first-seat::before{
        left: 10px;
    }
    .last-seat::before{
        right: 10px;
    }
    .seats_set {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 599px){
    .date__wrap,
    .time__wrap{
        min-width: 80px;
    } 
    .wrap{
        margin: 0 -100px;
    }
    .seats_set{
        width: 90%;
        justify-self:center;
    }
}
@media (min-width: 400px) and (max-width: 499px){
    .wrap{
        margin: 0 -200px;
    }
    .seat__label{
        height: 22px;
        width: 22px;
    }
    .seats_set{
        width: 100%;
        justify-self:center;
    }

}

@media (min-width: 600px) and (max-width: 768px){
    .wrap{
        margin-right: -20px;
        margin-left: -20px;
    }
    .poster__container{
        min-height: 45vh;
    }
    .first-seat::before{
        left: 20px;
    }
    .last-seat::before{
        right: 20px;
    }
    .seat__label{
        height: 25px;
        width: 25px;
    }
    .seats_set{
        margin-top: 60px;
        width: 75%;
        justify-self:center;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .movie__container{
        grid-template-rows: calc(2em + 60px) auto auto;
        grid-template-areas: "poster header"
                             "poster info"                              
                             "form form"; 
    }
    .movie__booking{
        margin: 0;
        align-self: stretch;
    }
    .poster__container{
        min-height: 40vh;
        min-width: 45vw;
    }
    .seat__label{
        height: 26px;
        width: 26px;
    }
    .movie__heading{
        margin: 0;
        align-self: stretch;
    }
    .movie__data{
        margin: 0;
    }

    .booking__form{
        grid-template-areas: "date time"
                             "cinema ticket"; 
    }

}
@media (min-width: 1025px) and (max-width: 1365px){
    .poster__container{
        min-height: 40vh;
        min-width: 20vw;
    }
    .booking__info{
        margin: 20px;
    }
}